.todo-item {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.checkbox-container {
  flex: 0 0 30px;
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.edit-container {
  flex: 1;
  display: flex;
  align-items: center;
}

input[type='text'] {
  flex: 1;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo-item button {
  background-color: #007acc;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  margin-left: 5px;
}
.todo-item button:hover {
  background-color: #005a9e;
}

.text-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-content {
  white-space: nowrap;
}

.icon-container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .todo-item {
    width: 100%;
  }
}
